<mat-form-field>
    <mat-label>Ürün Ad</mat-label>
    <input #txtName matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Stok Adet</mat-label>
    <input matInput type="number" #txtStock min="0" value="0">
</mat-form-field>
<mat-form-field>
    <mat-label>Fiyat</mat-label>
    <input matInput type="number" #txtPrice min="0" value="0">
</mat-form-field>
<section>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="create(txtName,txtStock,txtPrice)" class="btn">Ekle</button>
    </div>